@import "./Utilities";

.theTeamContainer{
    display:flex;
    justify-content: center;
    background-color: color(cool-black);
}
.theTeam{
    font-size: 16ch;
    font-family: 'Poiret One', cursive;
    color: color(cool-white);
}

.teamContainer{
    background-color: color(cool-black);
    height:90ch;
    width:100vw;
    display:flex;
    justify-content: space-evenly;
}

.madelynAboutPic, .noelAboutPic, .treyAboutPic{
    width: auto;
    max-width: 60ch;
    height: auto;
    max-height:40ch;
    border-radius: 50%;
    position: relative;
    // left:39px;
}

.madelynTitle, .treyTitle, .noelTitle{
    color: color(dark-blue);
    font-size: 5.5ch;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.linksDiv{
    display: flex;
    justify-content: space-evenly;
    width: 200px;
}
.noelParagraph, .madelynParagraph, .treyParagraph{
    text-align: center;
    width:20vw;
    line-height: 3ch;
    font-size: 2.5ch;
    font-family: 'Forum', cursive;
}
.githubIcon{
    height:40px;
}
.linkedinIcon{
    height:34px;
    position: relative;
    top:5px;
}
.portfolioIcon{
    height:35px;
    position:relative;
    top:3px;
    filter: invert(45%);
}

.noelDiv, .madelynDiv, .treyDiv{
    position: relative;
    top:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: color(cool-black);
    color: color(cool-white);
}

@media(max-width:768px){
    .teamContainer{
        display:flex;
        flex-wrap: wrap;
        width:90vw;
        height:60vh;
        margin-left:20px;
    }
    .theTeam{
        width:90vw;
        position: relative;
        text-align: center;
        font-size: 13ch;
    }
    .noelParagraph, .madelynParagraph, .treyParagraph{
        width:90vw;
    }
    .madelynAboutPic, .noelAboutPic, .treyAboutPic{
        position: relative;
        // margin-right: 70px;
    }
    // .noelDiv, .madelynDiv, .treyDiv{
    //     position: relative;
    //     top:20px;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    // }
    .madelynDiv{
        position: relative;
        top:50px;
    }
    .treyDiv{
        position: relative;
        margin-top:80px;
    }
}