@import "./Utilities";
.event-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .events-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 70vh;
        width: 50vw;
        min-width: 30vw;
        background-color: color(dark-gray);
        border-style: inset;
        border-width: 2px;
        border-radius: 5px;
        border-color: color(dark-gray);
        overflow-y: auto;
        overflow-x: none;
        margin-bottom: 15px;
        scroll-behavior: smooth;

        .event-container {
            width: 100%;
            height: 20vh;
            display: flex;
            flex-direction: row;
            border-radius: 5px;
            background-color: white;
            margin-left: 18px;
            margin-right: 18px;
            margin-bottom: 18px;
            align-items: flex-start;
            font-size: 1.1rem;
            border-color:color(dark-blue);
            background-color: color(cool-black);
            color: color(cool-white);
            border-width: 1px;
            border-style: solid;
            border-radius: 11.8px;
            text-align: center;
            font-family: 'Montserrat', sans-serif;

            .event-header {
                max-width: 30%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                align-items: center;
                text-align: center;
                margin-top: 10px;
                font-size: 0.9rem;
                .event-lineup {
                    max-width: 90%;
                    margin-top: 10px;
                }
            }
            .event-image {
                max-width: 63%;
                border-radius: 10px;
            }
            .event-venue-info {
                width: 75%;
                height: 75%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                margin-top: 15px;
                font-size: 1rem;
                position: relative;
            }

            .event-ticket-box {
                @extend .event-venue-info;
                justify-content: space-evenly;
                border: none;
                background-color: transparent;

                .event-ticket-button {
                    @extend .settings-editButton;
                    width: 90px;
                    height: 30px;
                    border-color: color(dark-blue);
                    background-color: color(dark-gray);
                    color: color(cool-white);
                    font-size: 1.2ch;
                    outline: none;
                }
            }
        }
    }
}
.trackArtistButton {
    @extend .event-ticket-button;
    width: 80px;
    height: 21px;
    border-color: color(dark-blue);
    background-color: color(cool-black);
    font-size: 1ch;
    outline: none;
    border-radius: 7px;
}

.events-list::-webkit-scrollbar {
    background-color: color(dark-blue);
    border-radius: 10px;
}

.events-list::-webkit-scrollbar-thumb {
    background-color: color(light-gray);
    border-radius: 10px;
}

@media(min-width: 1440px) {
    .event-container {
        width: 245px;
    }
}

@media(max-width: 1440px) {
    .event-container {
        height: 150px;
        width: 145px;
    }
}
@media(max-width: 390px){
    .event-image{
        width:100%;
        
    }
}