@import './Utilities';

.hidden-by-default {
    display: none;
}

#login-container {
    .open, .closed{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: fixed;
        height: 300px;
        border-radius: 7px;
        border-style: solid;
        border-width: 5px;
        border-color: color(light-blue);
        box-shadow: -3px 3px 3px color(dark-gray);
        background-color: color(cool-black);
        color: color(cool-white);
        z-index: 100;

        #login-header {
            font-family: $mont;
            font-size: 4ch;
        }

        .login-label {
            font-family: $mont;
            .login-input {
                height: 30px;
                width: 100%;
                border-radius: 5px;
                font-size: large;
                background-color: color(dark-gray);
                border-color: color(dark-gray);
                color: color(cool-white);
            }
        }

        .login-btn {
            height: 10%;
            width: 20%;
            border-radius: 5px;
            background-color: color(light-blue);
            color: color(cool-white);
            outline: none;
        }

        .login-btn:hover {
            background-color: color(dark-blue);
            cursor: pointer;
        }

        h4 {
            font-family: $mont;
            text-align: center;
        }
        #login-register {
            text-decoration: none;
            color: color(light-blue);
            cursor: pointer;
            font-family: $mont;
        }
    }
}




//box arrow
.open:after, .open:before {
    bottom: 100%;
    left: 50%;
    border: solid;
    content: " ";
    position: absolute;
}
.open:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: color(cool-black);
    border-width: 15px;
    margin-left: -15px;
}
.open:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: color(light-blue);
    border-width: 21px;
    margin-left: -21px;
}

@keyframes slide_up {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {opacity: 1;}
}

@keyframes slide_down {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(30px);
    }
}

@media(min-width: 625px) {
    
    .open, .closed {
        animation: slide_up .7s 1;
        width: 350px;
        right: 100px;
    }

    .closed {
        animation: slide_down .7s forwards;
    }
}

@media(max-width: 625px) {
    #login-container {
        display: flex;
        justify-content: center;
    }
    .open, .closed {
        animation: slide_up .7s 1;
        width: 315px;
        align-self: center;
        margin-top: 155px;
    }

    .closed {
        animation: slide_down .7s forwards;
    }
}