@import "./Utilities";

.Nav-nav-container {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10ch;
    background: color(dark-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: color(cool-white);
    z-index: 2;
    .Nav-CQ {
        width: 5ch;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5rem;
        font-family: 'Modak', cursive;
        text-decoration: none;
        h1 {
            color: color(cool-white)
        };
    };
    .Nav-link {
        text-decoration: none;
        color: color(cool-white);
        cursor: pointer;
        font-family: $mont;
    };
    .Nav-link:hover {
        text-decoration: underline;
    };
    .Nav-nav-title-logout {
        @extend .Nav-CQ;
        h1 {
            color: color(cool-white)
        };
    };
    .Nav-nav-links-logout {
        width: 40ch;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.25rem;
        text-decoration: none;
        h2 {
            color: color(cool-white);
            font-size: 20px;
            cursor: pointer;
        };
    };
    .Nav-nav-title-login {
        width: 5ch;
        height: 100%;
        justify-content: center;
        align-items: center;
        font-size: 5rem;
        font-family: 'Modak', cursive;
        text-decoration: none;
        h1 {
            color: color(cool-white)
        };
    };
    .Nav-nav-links-login {
        width: 100ch;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.25rem;
        text-decoration: none;
        h2 {
            color: color(cool-white);
            font-size: 20px;
            cursor: pointer;
        };
    };
};

.show-menu, .hide-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 200px;
    top: -120px;
    background-color: color(light-gray);
    z-index: 1;
    font-family: $mont;
    font-size: large;

    .nav-menu-item {
        text-decoration: none;
        color: color(cool-black)
    }
}

.show-menu {
    animation: slide_menu_down forwards .7s 1;
}

.hide-menu {
    animation: slide_menu_up forwards .7s 1;
}



@keyframes slide_menu_down {
    0% {
    }
    100% {
        transform: translateY(200px);
    }
}

@keyframes slide_menu_up {
    0% {
        transform: translateY(200px);
    }
}

@media(max-width: 767px) {
    .nav-menu-btn {
        display: block;
        cursor: pointer;
        height: 65px;
        width: 80px;
    }
    .show-menu {
        position: fixed;
    }

    .Nav-nav-links-login  {
        display: none;
    }
}

@media(min-width: 768px) {
    .show-menu, .hide-menu {
        display: none;
    }
    .Nav-nav-links-login  {
        display: flex;
    }
}