@import "./Utilities";

#profile-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90vh;
    justify-content: space-around;

    #title-and-list-container {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        #profile-title {
            display: flex;
            font-family: 'Poiret One', cursive;
            font-size: 4.5rem;
            color: color(cool-white)
        };
    }
}
