@import "./Utilities";

.Settings-main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: color(cool-white);
    .Settings-settings-title {
        width: 100vw;
        height: 20vh;
        display: flex;
        font-family: 'Poiret One', cursive;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 8.5rem;
        color:color(cool-black)
    };
    .Settings-input-fields {
        width: 60%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: color(cool-white);
        border-width: 6px;
        border-color: color(dark-blue);
        border-style:solid;
        border-radius: 60px;
        margin-top:20px;
        
        .Settings-input-box {
            display:flex;
            flex-direction:column;
            align-items:center;
        }
    };
}
.setting-titles{
    font-family: $mont;
    font-size:4ch;
}
.setting-credentials{
    font-family: 'Montserrat', sans-serif;

}
.settings-editButton, .settings-deleteButton{
    height:25px;
    width:70px;
    margin-top: 7px;
    border-radius: 15%;
    border-color: color(dark-blue);
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size:1.7ch;
    outline: none;
}

@media (max-width: 450px){
    .main-settings-title {
    font-size:.76ch;
    }
     
} 