$mont: 'Montserrat';
$colors: (
    dark-blue: #026AA7,
    light-blue: #03A9F4,
    cool-white: #EBEDF3,
    darker-white: #D6D8DD,
    light-gray: #BDBDBD,
    dark-gray: #3D4044,
    cool-black: #262626
);

@function color ($color-name) {
    @return map-get($colors, $color-name);
}

