$colors: (
    dark-blue: #025D86,
    light-blue: #03A9F4,
    cool-white: #EBEDF3,
    light-gray: #BDBDBD,
    dark-gray: #676767,
    cool-black: #262626
);

@function color ($color-name) {
    @return map-get($colors, $color-name);
}